.navbar {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: flex-end;
  padding-left: 100px;
  padding-right: 100px;
  background-color: none;
  /* background-color: blue; */
  justify-content: space-between;
}

.links {
  display: flex;
  list-style: none;
  gap: 100px;
  /* background-color: red;y */
  width: 100%;
}

.links_dua {
  display: flex;
  list-style: none;
  /* gap: 100px; */
  margin-right: 100px;
  text-align: center;
  /* background-color: red; */
  /* width: 100%; */
}

.navbar li {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: black;
  font-weight: 500;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar li:hover {
  box-shadow: inset 100px 0 0 0 #54b3d6;
  color: yellow;
  cursor: pointer;
}
